Repository lab-antwerp-1/hackyourfuture-group4, pull requests merged in 2021-11, with the labels that each got.

#26 added html nev-list
  index.html
Labels: HTML

#29 section core values added
  index.html
Labels: HTML

#28 section impact added
  index.html
Labels: HTML

#30 section impact css added
  styles/index.css
Labels: CSS

#31 section core values added
  styles/index.css
Labels: CSS

#32 Ourprogram
  index.html
  planning/retrospective.md
  styles/index.css
Labels: HTML, CSS

#35 Adding homepage landing page
  assets
  assets/home-bg.jpeg
  assets/logo.svg
  index.html
  styles/index.css
Labels: HTML, CSS

#36 fixing logo and bg image in landing page
  index.html
Labels: HTML, CSS

#43 Update index.html
  index.html
Labels: HTML

#44 Update index.css
  styles/index.css
Labels: CSS

#45 fix pre-responsive
  .vscode/settings.json
  index.html
  styles/index.css
Labels: HTML, CSS

#46 Fixing the landing page with a separate section inside main
  index.html
  styles/index.css
Labels: HTML, CSS

#47 adding partners section
  index.html
Labels: HTML

#48 adding partners css
  styles/index.css
Labels: CSS

#51 Footer Section
  index.html
  styles/index.css
Labels: HTML, CSS

#52 contact us section
  index.html
  styles/index.css
Labels: HTML, CSS
