Repository lab-antwerp-1/hackyourfuture-group4, pull requests merged in 2021-10, with the labels that each got.

#10 Updating the development startegy
  planning/development-strategy.md
Labels: development-strategy

#11 Adding retrospective
  planning/retrospective.md
Labels: retrospective

#18 Updating the wireframe layout for the website
  .cspell.json
  package-lock.json
  planning/backlog.md
  planning/design.md
  planning/development-strategy.md
  planning/homepage-wireframe.svg
Labels: wireframe

#24 Update index.html
  index.html
Labels: HTML

#25 Update index.css
  styles/index.css
Labels: CSS
